h3{
    text-align: center;
}
table{
    width: 100%;
}


thead{
    background-color: rgb(70, 70, 70);
    color: white;
}

th {
    border: 1px solid black;
    text-align: center;
}

td {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
}

label{
    width: 57px;
}
