h1{
    text-align: center;
    text-decoration: underline;
}

.titre{
    font-size: 2em;
}
.strong{
    font-size: 2em;
}

.tableau{
    border: 1px solid white;
    width: 100%;
    margin: 0 auto;
    box-shadow: 6px 6px 10px black
}
.Green{
    color: green;
}

.Red{
    color: darkred;
}

.Blue{
    color: darkslateblue;
}