h1{
    text-decoration: underline;
}

body{
    margin: auto;
    width: 100%;
    background-color: lightgray;
}

.container{
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    flex-flow: wrap row-reverse;
}

.container2{
    height: 100px;
    background-color: rgb(0, 255, 128);
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column-reverse; */
    flex-flow: wrap;
}

.cont-items{
    background-color: blueviolet;
    border: 1px solid black;
}

.spaced{
    justify-content: space-evenly;
}

.order1{order: 1;}

.order2{order: 2;}

.order3{order: 3;}

.order4{order: 4;}

.order5{order: 5;}

.obj1{align-self:flex-end ;}

.obj2{align-self:stretch ;}













footer{
    background-color: slategray;
    text-align: center;
}